body {
  margin: 0;
  font-family: helvetica, arial;
}

header {
  background-color: salmon;
  border-style: solid;
  border-color: hsl(0, 100%, 25%);
  border-width: 2px;
  color: white;
  margin: 1%;

}

header h1 {
  padding-left: 2.1%;
  display: inline-block;
  text-decoration: underline;
}

nav ul {
  
  margin: 0;
}

nav ul li {
  background-color: #999;
  display: inline-block;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 12px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 10px;
}

nav ul li a {
  color: turquoise;
}


.box-1 {
  text-align: left;
  float: center;
  border-width: 2px;
  border-style: solid;
  border-color: hsl(0, 100%, 25%);
  margin: 1%;
  padding: .5%;

}

.box-2 {
  border-width: 2px;
  border-style: solid;
  margin: 1%;
  padding: .5%;
}

.box-2 h4 {
  color: hsl(0, 100%, 25%);
  text-decoration: underline;
  text-align: center;
}

.box-2 ol {
  list-style-position: inherit;
}

br {
  text-align: center;
}
