body {
  margin: 0;
  font-family: arial;
}

header {
  background-color: salmon;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  color: white;
  margin:1%;

}

header h1 {
  padding-left: 2.1%;
  display: inline-block;
}

nav ul {
  color: grey;
  margin: 0;
}

nav ul li {
  background-color: #999;
  display: inline-block;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 12px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 10px;
}
